*{
    background-color: rgb(250, 250, 250) ;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

html{
    height: 100%;
    width: 100%;
}


body{
    margin: 0;
    min-height: 100%;
}

.carru{
    padding: 30px 30px;
}

.bodyR > *{
margin: 0;
min-height: 100%;
box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.80);
border-radius: 4px;
padding: 10px;
text-align: center;
}


form p{
    text-decoration: none;
    color: white;
    background: transparent;
    padding: 5px 5px;
}
form{
    background-color: white;
    color: white;
    padding: 10px;
    margin: 8px auto;
    width: 90%;
    font-size: 20px;
    background: transparent;
}

form button{
    font-size: 15px;
}


.form{
    border: solid 1px black;
    color: white;
    padding: 10px ;
    width: 70%;
    background: white;
    border: white;
}









input textarea{
    outline: none;
    border: 0;

}

.bodyR{
    display: grid;
    gap: 10px;

    grid-template: 
    "header " 
    "nav " 
    "footer";
}

@media (min-width: 600px){
    .bodyR{
        grid-template: 
        "header header" 
        "nav nav"
        "footer footer" ;
    }


}

@media (min-width: 720px){
    .bodyR{
        grid-template: 
        "header header" 
        "nav nav"
        "footer footer" ;
    }
}

.navR div{
    margin: 50px;
    background-color: transparent;
}

.headerR{
    grid-area: header;
    background-color: rgb(250, 250, 250);
}

#hero a{
    text-decoration: none;
    background-color: transparent;
}



.footerR{
    grid-area: footer;
}

.navR{
    grid-area: nav;
    background-image:linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ) 
    ,url(../images/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;

}


.habitacion:hover {-webkit-transform:scale(1.1);transform:scale(1.1);}
.habitacion {overflow:hidden;}

.habitacion:hover{
    transform: scale(1.2);

}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}


.habitacion{

    transition: 0.5s;
    object-fit: cover;
    margin: 25px 25px ;
    padding: 15px 15px ; 
    background-color:  rgb(250, 250, 250);
    border-radius: 5px;
}





.barra{
    max-width: 1400px ;
    margin: auto;

}









.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5em 5em;
}

.contacto{
    margin: 5em 5em;
}

.redes{
    display: flex;
    justify-content:  space-around;
    align-items: space-around;
    margin: 50px ;
    flex-wrap: wrap;
}

.fondoRedes{
    background-color:  rgb(250, 250, 250) ;
}

button:hover{
    background-color: rgb(250, 250, 250);
}

header{
    background-color: rgb(250, 250, 250);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.cartas{
    height: 25vh ;
    width: 25vw;
    margin: 50px;
}




header .barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


header a{
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 25px;
    padding: 25px 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    
}


header a:hover{
    color: chocolate;
    font-size: 25.5px;
    font-weight: bold;
}



@media (min-width: 720px){
    header .barra{
        flex-direction: row;
        justify-content: space-between;

    }
    header nav{
        flex-direction: row;
        padding-bottom:0 ;
        padding-right: 15px;
 
    }  

}



iframe{
    margin: 50px 50px;
}

@media (max-width: 720px){

    svg{
        margin: 85px 85px;
    }
 

}


.nosotros{
    margin: 60px ;
    border:  60px ;
    padding: 60px ;
    background-color: rgb(189, 189, 189);
    font-size: x-large;
    text-align: center;
}


.nosotros p{
    background-color: rgb(189, 189, 189) ;
    
}


.nosotros h3{
    background-color: rgb(189, 189, 189) ;
}


@media (max-width: 720px){
    .nosotros{
        height: 500px;
        overflow: scroll;
        margin: 10px;
    }



}



h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 25px 35px;
    color: black;
    padding-top: 125px;
}


#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35vh;
    width: 100vw;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ) 
    ,url(../images/paisaej\ .png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    
}


#hero2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35vh;
    width: 100vw;
    border-radius: 10px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ) 
    ,url(../images/paisaej\ .png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#hero h1{
    background-color: transparent;
    color: white;
}


#hero button{
    background-color: transparent;
    color: aliceblue;
}


footer {
    background-color: rgb(250, 250, 250);
    width: 100vw ;
    height: 2vh;
  
}


#hero button{
    font-size: 1.2em;
}

#hero button:hover{
    color: chocolate;
    font-size: 1.3em;
}







.ascenso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
    background-image: url(../images/as.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    color: white;
    transition: 2s;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.ascenso:hover{
    color: chocolate;
    background-image:
    linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../images/as.jpg)  ;  
}



.caminata{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
    background-image: url(../images/caminata.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    color: white;
    transition: 2s;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.caminata:hover{
    color: chocolate;
    background-image:
    linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../images/caminata.jpg)  ;  
}

.sendero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
    background-image: url(../images/sendero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    color: white;
    transition: 2s;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.sendero:hover{
    color: chocolate;
    background-image:
    linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../images/sendero.jpg)  ;  
}


.libros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
    background-image: url(../images/muuseo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    color: white;
    transition: 2s;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.libros:hover{
    color: chocolate;
    background-image:
    linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../images/muuseo.png)  ;  
}


.maquinas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
    background-image: url(../images/maqui.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    color: white;
    transition: 2s;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.maquinas:hover{
    color: chocolate;
    background-image:
    linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../images/maqui.png)  ;  
}



.azul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
    background-image: url(../images/sen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    color: white;
    transition: 2s;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.azul:hover{
    color: chocolate;
    background-image:
    linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../images/sen.jpg)  ;  
}





.bosque{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50vh;
    width: 100vw;
    background-image: url(../images/tabaquillo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-bottom: 50px;
    color: white;
    transition: 2s;
    text-shadow: black 0.1em 0.1em 0.2em; 
}


.bosque:hover{
    color: chocolate;
    background-image:
    linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(../images/tabaquillo.jpg)  ;  
}


.fin{
    text-align: center;
    padding: 15px;
}



.footer-links{
   font-size: 20px;
   padding: 10px 0;
   font-weight: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.footer-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template: "contactanos  nuestra";
    gap: 10px;
    align-items: flex-start;
    justify-content: auto;
    padding: 25px;
}

.footer-container ul{
    margin: 0 auto;
    text-decoration: none;
 
}

.nuestra a{

    line-height: 2;
}


.footer-container h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 20px;
    
}

.nuestra{
    text-align: center;

}

.contactanos{
   
    text-align: center;
    grid-area: contactanos;
}

.contactanos h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.contactanos svg{
    margin: 25px;
    text-decoration: none;
}

.contactanos svg:hover{
    fill: chocolate;
}

.nuestra{
    grid-area: nuestra;
    text-decoration: none;
}

.nuestra a{
    text-decoration: none;
    color: black;
}

.nuestra a:hover{
    color: chocolate;
}


@media (max-width: 720px){
    .footer-container{
        grid-template-columns: 1fr
        1fr;
        grid-template:
        "contactanos"
        "nuestra";

    }


}



