*{
    background-color: rgb(250, 250, 250) ;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



body{
    margin: 0;

}


button{
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.barra{
    max-width: 1400px ;
    margin: auto;

}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5em 5em;
}

.contacto{
    margin: 5em 5em;
}

.nosotros{
    height: 50em ;
    width: 50em;
    background-color: rgb(250, 250, 250);
 
    margin: 15px 15px;

}

button:hover{
    background-color: rgb(250, 250, 250);
}

header{
    background-color: rgb(250, 250, 250);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.cartas{
    height: 25vh ;
    width: 25vw;
    margin: 50px;
}


header .barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}


header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}


header a{
    padding: 10px 10px;
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 25px;
    padding: 25px 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    
}


header a:hover{
    color: chocolate;
    font-size: 26px;
    font-weight: bold;
}



@media (min-width: 720px){
    header .barra{
        flex-direction: row;
        justify-content: space-between;

    }
    header nav{
        flex-direction: row;
        padding-bottom:0 ;
        padding-right: 15px;
 
    }
}


.contenedor{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;




}


.actividad{
    width: 100%;
    margin: 25px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10px;
    cursor: default;
    transition: all 400ms ease;

 

}

.actividad img{
    width: 100%;
    height: 210px;
}


.actividad:hover {
    box-shadow: 5px 5px 20px;
    transform: translateY(-2%);
}

.actividad .contenido{
    padding: 15px;
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 25px 35px;
    color: black;
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35vh;
    width: 100vw;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ) 
    ,url(../images/paisaej\ .png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}


#hero2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 35vh;
    width: 100vw;
    border-radius: 10px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ) 
    ,url(../images/paisaej\ .png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

#hero h1{
    background-color: transparent;
    color: white;
}


#hero button{
    background-color: transparent;
    color: aliceblue;
}


footer {
    background-color: rgb(250, 250, 250);
    width: 100vw ;
    height: 2vh;
  
}

.act{
    background-color: aqua;
    color: black;
    text-align: center;
}



/*
CABECERA

a {
    text-decoration: none;
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 1vh;
    font-size: 1.5vh;


}

.prueba{
    background-color: black;
    height: 5vh;
    width: 100vw;

}

.barra { 
	min-height: 70px;
    width: 100%;
    display: flex;
	position: fixed;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}



a:hover{
    color: lightgreen;
}


FIN D CABECERA



@media (max-width: 575.98px) { 
    .card{
        margin-top: 25px;
    }
}


@media (max-width: 767.98px) {
    .card{
        margin-top: 25px;
    }
 }


@media (max-width: 991.98px) { 
    .card{
        margin-top: 25px;
    }
 }


@media (max-width: 1199.98px) { 
    .card{
        margin-top: 25px;
    }
 }


@media (max-width: 1399.98px) { 
    .card{
        margin-top: 25px;
    }
 }



@media (min-width: 425px;) {
    .card{
        col-12;
    }

}




INICIO DE CUERPO DE PAGINA




PUBLICIDAD

.publicidad{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-image:url(../images/martayluisa.jpeg);
    background-repeat: no-repeat;
    background-position: center center;

}


.texto {
    text-align: center;
    font-size: 5vh;
    color: white;
    background-color: transparent;
    font-weight: bold;
    animation:flipInX;
    animation-duration: 3s;
}


PRODUCTOS

.productos{
    height: 25vh;
    width: 25vh;
    margin: 6vh;
    border: 0.5vh solid black;

}

.cartas {
    width: 100%;
    height: 15vh;
}

button{
    background-color: black;
    color: white;
    border-radius: 1vh;
    padding: 1vh 1vh;
    background-size: 10vh;
    box-shadow: 0.5vh 0.5vh 1vh black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: bold;
}

button:hover{
    background: rgb(0,0,0);
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(51,244,25,1) 86%);;

}




FIN DE CUERPO






.formulario {
    color: black;
    background-color: white;
    font-size: larger;
    margin: 75px;
    border:25px;
    padding: 85px;
    position:absolute;
    margin: 300px 300px 300px 750px;
    border: black solid;
}

.integrantes{
    margin: 150px;
    border: 150px;
    padding: 0;
}

.formularioDos {
    color: black;
    font-style: italic;
    font-size: x-large;
    margin: 15px;
    border: 15px;
    padding: 50px;
    position:absolute;
    margin: 550px 300px 300px 1250px;
    border: black solid;
}

REVISARLO
.footer {
 
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 0;
    margin: auto;



}



*/
